@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "DM Serif Display", serif;
  --font-sans: "DM Sans", sans-serif;
  
  --color-cafe-bg: #F8F3EC;
  --color-cafe-alt: #EBE1D0;
  --color-cafe-text: #2A332B;
  --color-cafe-accent: #EFA740;
}

body {
  background-color: var(--color-cafe-bg);
  color: var(--color-cafe-text);
  overflow-x: hidden;
}
